<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
    <!--Main Navigation-->  
    <main style="margin-bottom: 10%;">
      <!--     Changing the Content of Webpage based on title      -->
      <% if(title == "Home"){ %>
        <%- include partials/home.ejs %> 
      <% } else if(title == "About Me"){ %>
        <%- include partials/aboutme.ejs %> 
      <% } else if(title == "Projects"){ %>
        <%- include partials/projects.ejs %> 
      <% } else if(title == "Contact Me"){ %>
        <%- include partials/contacts.ejs %> 
      <% } else if(title == "Services"){ %>
        <%- include partials/services.ejs %> 
      <% } %>
      
    </main>
      
    <!--script section -->
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
